* {
    margin: 0;
    padding: 0;
}

#title {
    background-color: #f9f9f9;
    display: inline-block;
    width: 1200px;
    padding: 10px;
}

.principal {
    display: inline-block;
    margin-top: 5px;
    margin-left: 10px;
}

.secundario {
    display: inline-block;
    margin-left: 720px;
    margin-bottom: 10px;
}

main {
    display: inline-block;
    background: linear-gradient(#211015, #6f5964);
    width: 1220px;
}

#photoOfMe {
    border: 6px solid #c0c0c0;
    display: inline-block;
    width: 450px;
    height: 300px;
    margin-top: 30px;
    margin-left: 30px;
}

#box1 {
    display: inline-block;
    width: 640px;
    text-align: left;
    vertical-align: top;
    margin-left: 35px;
}

.about {
    background: linear-gradient(#b1b0b5, #888694);
    color: white;
    display: inline-block;
    margin-top: 30px;
    width: 654px;
    padding: 7px;
}

.box1Content {
    background-color: #ebe2ea;
    width: 654px;
    padding: 7px;
}

.p1 {
    width: 644px;
    text-align: left;
    vertical-align: auto;
    padding: 5px;
}

#box2 {
    display: inline-block;
    margin-left: 30px;
    width: 350px;
}

.about2 {
    background: linear-gradient(#b1b0b5, #888694);
    color: white;
    display: inline-block;
    margin-top: 30px;
    width: 350px;
    padding: 7px;
    background-color: #ebe2ea;
}

.laMode {
    width: 364px;
    height: 160px;
    background-color: #ebe2ea;
}

.box2Content {
    background-color: #ebe2ea;
    width: 350px;
    padding: 7px;
}